.img_wrap {
    position: relative;
  }
  
  .desc {
    position: absolute;
    top:50%;
    bottom: 50%;
    left: 25%;
    right:0;
    color: black !important;
    opacity: 0;
  
    /* transition effect. not necessary */
    transition: opacity .5s, visibility .5s;
  }
  
  .img_wrap:hover .desc {
    visibility: visible; 
    opacity: 1;
  }
  .img_wrap:hover .imgg{
   
    opacity: 0.4; 
    transition: opacity .5s, visibility .5s;
  }