
<div class="container-fluid mt-1 mb-1">
    
    <div class="row" >
      <div class=" col-2 img_wrap " > <img class = "imgg" src="https://source.unsplash.com/random" alt="Chania" width="222" height="300">
        <div class="desc">
            <i class="fab fa-instagram"></i><a href="#">@donny's</a>
        </div>
     </div>
      <div class="col-2 img_wrap" ><img class = "imgg" src="https://source.unsplash.com/random" alt="Chania" width="220" height="300"> 
        <div class="desc">
            <a href="#"><i class="fab fa-instagram pr-3"></i>@donny's</a>
        </div>
    </div>
      <div class="col-2 img_wrap " ><img class = "imgg" src="https://source.unsplash.com/random" alt="Chania" width="220" height="300"> 
        <div class="desc">
            <a href="#"><i class="fab fa-instagram pr-3"></i>@donny's</a>
        </div>
    </div>
      <div class="col-2 img_wrap" ><img class = "imgg" src="https://source.unsplash.com/random" alt="Chania" width="220" height="300"> 
        <div class="desc">
            <a href="#"><i class="fab fa-instagram pr-3"></i>@donny's</a>
        </div>
    </div>
      <div class=" col-2 img_wrap" ><img class = "imgg" src="https://source.unsplash.com/random" alt="Chania" width="220" height="300"> 
        <div class="desc">
            <a href="#"><i class="fab fa-instagram pr-3"></i>@donny's</a>
        </div>
    </div>
      <div class="col-2 img_wrap" ><img class = "imgg" src="https://source.unsplash.com/random" alt="Chania" width="220" height="300"> 
        <div class="desc">
            <a href="#"><i class="fab fa-instagram pr-3"></i>@donny's</a>
        </div>
    </div>
    </div>
  </div>
