<div class="container-fluit mt-1">
    <div class="row">
        <div class="col-6 ">
            <div class="hold">
                <img class = "imgg" src="https://source.unsplash.com/daily" alt="donny's" width="685" height="700"> 
                <div class="overlay">
                    <h5>title</h5>
                    <p>short descriptionof the product</p>
                    <button class="btn btn-link">shop now</button> 
                </div>
            </div>  
        </div>
        <div class="col-6 ">
           
            <img class = "mr-1" src="https://source.unsplash.com/daily" alt="donny's" width="315" height="350" > 
            <img class = "mr-1" src="https://source.unsplash.com/daily" alt="donny's" width="315" height="350" > 
            <img class = "mr-1" src="https://source.unsplash.com/daily" alt="donny's" width="315" height="350"> 
            <img class = "mr-1" src="https://source.unsplash.com/daily" alt="donny's" width="315" height="350" > 
        </div>
        
    </div>
</div>