<div class="container-fluid my-3">
    <div class="row">
        <div class="col-3">
            <div style="text-align: center;">
                <span style="font-size: 2em; color: Tomato;">
                    <i class="fas fa-camera"></i>
                </span>
                <h6 >Free Shipping</h6>
                <p>For all oder over $99</p> 
            </div>
        </div>
        <div class="col-3">
            <div style="text-align: center;">
                <span style="font-size: 2em; color: Tomato;">
                    <i class="fas fa-money-bill"></i>
                </span>
                <h6 >Money Back Guarantee</h6>
                <p>If good have Problems</p> 
            </div>
        </div>
        <div class="col-3">
            <div style="text-align: center;">
                <span style="font-size: 2em; color: Tomato;">
                    <i class="fas fa-headset"></i>
                </span>
                <h6 >Online Support 24/7</h6>
                <p>Dedicated support</p> 
            </div>
        </div>
        <div class="col-3">
            <div style="text-align: center;">
                <span style="font-size: 2em; color: Tomato;">
                    <i class="fas fa-shield-alt"></i>
                </span>
                <h6 >Payment Secure</h6>
                <p>100% secure payment</p> 
            </div>
        </div>
    </div>
</div>