
<div class="container-fluid">
    <div class="bg-light text-center">
        <button class="btn btn-dark m-2" routerLink="/admin-product">Manage Products</button>
        <button class="btn btn-dark m-2" routerLink="/admin-order">Manage Orders</button>
    </div>
    <div >
      <div style="display: block">
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </div>
    </div>
  </div>