<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-sm text-center">
          <h1 class="div-heading display-4">Contact US</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form>
              <div class="form-group">
                  <input type="name" class="form-control" id="name" placeholder="Your Full Name...">
              </div>
    <div class="form-group">
                  <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Your Email Address...">
              </div>
              <div class="form-group">
      <select class="form-control" id="topic" placeholder="Select Services...">
        <option>Corporate</option>
        <option>Wedding</option>
        <option>Pickup</option>
      </select>
              </div>
    <div class="form-group">
      <textarea class="form-control" id="message"aria-label="With textarea" style="height: 250px;"></textarea>
    </div>
              <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </form>
      </div>
      <div  class="col-md-6">
  <h5>Address: <small class="text-muted">Venkatadri IT Park, HP Avenue, Konnappana, Electronic city, Bengaluru, Karnataka 560069</small></h5>
  <h5>Email: <small class="text-muted">hire@luxurytaxicab.com</small></h5>
  <h5>Contact: <small class="text-muted">+90 536 480 2141</small></h5>
 
  <div class="text-center">
    <div style="width: 100%"><iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=baraj%20yol,%20adana,%20turkey+(DonaldTeghenTech)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://www.maps.ie/route-planner.htm">Journey Planner</a></div>
  </div>
      </div>

    </div>
</div>