<div class="container">
    <div class="text-center">    
        <h3>Reset Password</h3>
        <p>Please enter your email address to request a password reset.</p>
  
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email Address" #passwordResetEmail required>
        </div>
  
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="form-group">
          <input type="submit" class=" form-control btn btn-primary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>
      
  
        <div class="redirectToLogin"
           style="font-weight:bold">Go back to ? <button class="btn btn-light" routerLink="/login">Log In</button>
        </div>
    </div>
</div>