<div class="container-fluid mt-5 " style="background-image: url(/src/assets/background.jpeg);">
    <div class="row">
        <div class="col-12">
            <div style="text-align: center;">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div class="error-actions">
                    <a (click)="goHome()" class="btn btn-primary btn-lg m-2">
                        <span class="fas fa-home"></span>Take Me Home </a>
                    <a (click)="goToContact()" class="btn btn-secondary btn-lg m-2">
                        <span class="fas fa-envelope"></span> Contact Support </a>
                </div>
            </div>
        </div>
    </div>
</div>