
<div class="container bg-light">
    <h3 class=" text-center">Sign Up</h3>
    <form [formGroup]=form>
        <div *ngIf="isSubmitted && !form.valid" class="bg-danger form-control">{{errorMEssage}}</div>
       
        <div class="form-group">
            <label>Email:</label>
            <input type="email" class="form-control" formControlName="email">
        </div>
        <div *ngIf="email.touched && !email.valid" class="bg-warning form form-control">email is not valid!</div>
        <div class="form-group">
            <label>Password:</label>
            <input type="text" class="form-control" formControlName="password">
        </div>
        <div *ngIf="password.touched && !password.valid" class="bg-warning form form-control">Password is not valid!</div>
        <button class="btn btn-primary btn-block mt-1" (click)= "signUp()"> Sign Up</button>
		
		

    </form>
    <!-- Continue with Google -->
   <div class="text-center"> 
       <div class="form-group">
        <span class="or"><span class="orInner">Or</span></span>
        </div>
        <div class="form-group">
            <button class="btn btn-outline-primary m-2" (click)="GoogleAuth()">
            <i class="fab fa-google"></i>
            Continue with Google
            </button>
            <!-- Continue with Facebook -->   <!--(click)="authService.FacebookAuth()"-->
            <button class="btn btn-outline-primary m-2">
            <i class="fab fa-facebook-square"></i>
            Continue with Facebook
            </button> 
        </div>
    <div class="form-group " style="font-weight:bold;">
    Already have an account?<button class="btn btn-light m-2" routerLink="/login">Log In</button>
    </div>
</div>

</div>
